<!DOCTYPE html>
<html>
<head>
  <title>BenchBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAvu2y-qZO8ZFQHs9b2TgrLohqyOMFPR4c"  %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
